{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="mb-3 text-center">Регистрация</h4>

        <form method="post">
          <div class="mb-3">
            <label class="form-label">Логин</label>
            <input type="text" name="username" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <button class="btn btn-success w-100">Зарегистрироваться</button>
        </form>

        <div class="text-center mt-3">
          <a href="/login">Уже есть аккаунт?</a>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
